@import '../../styles/colors';
@import '../../styles/templates';

.MyMap {
    padding-inline: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70vw;
    height: 80vh;
    // width: 100%;
    // height: 100%;
    gap: .5rem;

    @include Mobile {
        width: 90vw;
        height: 90vh;
    }

}