.MyMap {
  padding-inline: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70vw;
  height: 80vh;
  gap: 0.5rem;
}
@media screen and (max-width: 576px) {
  .MyMap {
    width: 90vw;
    height: 90vh;
  }
}