@import '../../styles/colors';

.myChart {
    padding-inline: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // width: 30vw;
    // height: 70vh;
    // width: 100%;
    // height: 100%;
    gap: .5rem;

    .myChart_canvas {
        width: 100%;
        height: 400px;
    }
}