.search {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-end;
  margin: 8px;
  background-color: white;
  border-radius: 1rem;
  padding: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}

.search_sub {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}
.search_sub h5 {
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: start;
}

.search_sub_s {
  flex: 1 1 370px;
}

.search_sub_d {
  flex-basis: 150px;
}

.search_sub_b {
  justify-content: end;
  flex-shrink: 1;
  height: 100%;
}