.readUser {
  padding-inline: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 0.5rem;
}
.readUser div {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.readUser #form_Link {
  font-size: 15px;
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

.myForm_buttons {
  margin-top: 1rem;
  display: flex;
  gap: 8px;
  width: 100%;
}